/* see https://stackoverflow.com/a/6654996 */
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("lebron.jpg");
    background-size: cover;
}

button {
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    box-shadow: 2px 2px gray;
}

input {
    padding: 10px;
    width: 300px
}

#playing {
	visibility: hidden;
}
