/* see https://stackoverflow.com/a/6654996 */
html {
    height: 100%;
}

body {
    min-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url("lebron.jpg");
    background-size: cover;
}

button {
    text-align: center;
    color: white;
    border-style: none;
    border-radius: 5px;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

button:hover {
    box-shadow: 2px 2px gray;
}

input {
    padding: 10px;
    width: 300px
}

#playing {
	visibility: hidden;
}

#logs-box {
    display: none; 
    background: black; 
    color: white; 
    width: 700px; 
    margin: 0 auto 8px auto;     
    padding: 12px; 
    border-radius: 8px; 
    text-align: left; 
    display: flex; 
    flex-direction: column; 
}

#logs-content {
    height: 200px; 
    overflow-y: auto;
    display: flex; 
    flex-direction: column; 
    width: 100%;
}

#cache_tag{
    text-align: center; 
    color: white; 
    margin: 0;
}

#show-logs-btn{
    height: 2.2em; 
    background-color: blue; 
    color: white; 
    border: none; 
    border-radius: 4px; 
    padding: 8px 16px; 
    cursor: pointer; 
    margin-left: 10px;
}

.card {
    background: hsla(0, 0%, 31%, 0.7);
    border-radius: 12px;
    box-shadow: 0 4px 16px rgba(0,0,0,0.10);
    padding: 32px 24px;
    width: 700px;
    min-height: 100px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
